@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap');


@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media(max-width: 37.5em) { @content }; // 600px
  }

  @if $breakpoint == tab-port {
    @media(max-width: 56.25em) { @content }; // 900px
  }

  @if $breakpoint == tab-land {
    @media(max-width: 75em) { @content }; // 1200px
  }

  @if $breakpoint == big-desktop {
    @media(min-width: 112.5em) { @content }; // 1800px
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is:
  // 10px
  font-size: 62.5%;

   @include respond(tab-land) {
    font-size: 56.25%; // 1rem = 9px, 9/16 = 56.25%
  }

  @include respond(tab-port) {
    font-size: 50%; // 1rem = 8px, 8/16 = 50%
  }

   @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12px, 12/16
  }
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  // background-color: #f9f9f9;
  background-color: black;
  display: flex;
  flex-direction: column;
}

.section-nav {
  background-color: black;
  height: 4vw;
  max-height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;

  @include respond(phone) {
    height: 6rem;
    padding: 2rem;
  }

  &__logo {
    color: white;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    // border: 1px solid white;
    width: 20%;
    @include respond(phone) {
      width: auto;
    }
    a {
      text-decoration: none;
      font-size: 1.8rem;
      color: white;

    @include respond(phone) {
      padding: .5rem;
    }
    }
  }
}

.section-main {
  background: url("../assets/images/background-desktop.png") no-repeat center center;
  background-size: cover;
  min-height: 90vh;

  @include respond(phone) {
    background: url("../assets/images/build-mobile-black-and-white.png") no-repeat center center;
  }

  &__name-and-title {
    margin: 15rem 15rem 0 15rem;

    @include respond(phone) {
      margin: 1rem;
    }

    h1 {
      font-size: 14rem;
      font-weight: 500;
      @include respond(phone) {
        line-height: 11rem;
        margin: 5rem 1rem;
      }
    }

    h2{
      font-size: 9rem;
      font-weight: 100;
      position: relative;
      top: -6rem;
       @include respond(phone) {
        top: 0;
        line-height: 6rem;
        margin: 2rem;
      }

      .highlight-orange {
        color: orange;
        font-size: 15rem;
        font-weight: 900;
        position: relative;
        top: 1.6rem;
      }
    }

  }

  &__call-to-action {
    // border: 1px solid red;
    width: 50%;
    margin: 0 40rem;

    @include respond(phone) {
      width: auto;
    }

    @include respond(phone) {
      margin: 5rem 4rem;
    }
    position: relative;
    h3 {
      font-size: 9rem;
      font-weight: 100;

       @include respond(phone) {
        font-size: 5rem;
      }
    }


    button {
      padding: 2rem;
      background-color: black;
      color: white;
      border-color: none;
      outline: none !important; /* Use !important to override any other styles */
      box-shadow: none; /* Remove any box shadow that may be applied */
      border: none;
      font-size: 3rem;
      border-radius: .5rem;
      position: absolute;
      right: 25rem;
      bottom: 0;

      @include respond(phone) {
        right: 0rem;
        bottom: -10rem;
        padding: 2rem;
        font-size: 2rem;
      }
    }
  }
}

.section-footer {
  background-color: black;
  height: 3vw;
}
